

	.margin-section{
	margin-top:60px;

	}
	
		

	.container-title {	
	background-color: white;  
	height: 25vh; 
	color: #282221;
	}




	
	.captainmosfet{
	max-width: 290px;
	}


	.icon{
	max-width: 266px;
	cursor:pointer;
	}

	.container-fluid{
		    position: relative;
	}

	.menu{
	background-color: white
	}
	

	.button-menu{
	max-width:150px;
	
	}

	.contrtollore{
		max-width:100%;
		max-height:100%;
		
		}



	.container-body{
	background-color: white; 
	}

	.container-content {
	background-color:white; 
	
	}

	.container-story{
		height:100% ;
	}

	.container-next{
		height:30%;
	}
	.container-footer{
	background-color: black;
	color:white;
	height:15vh;
	 
	}	




		
	a:link {
	color: gray;
	text-decoration: none; 
	}
	a:visited {
	color:white; 
	text-decoration: none;
	}
	a:hover {
	text-decoration: underline ;
	color: gray;
	}


.container{
	position:relative;
}


	/* helpers */

.t {
    display: table;
    width: 100%;
	height: 70%;
	
	background-color: none;


   /* border: 3px solid black;*/
   /* padding: 15px;*/
}
.tc {
	width: 90%;
	height: 90%;
    display: table-cell;
    vertical-align: middle;
	text-align: center;
	
}

.rel {
	position: relative;
	
      z-index: 3;
}

.abs{
	position: absolute;
	
	z-index: 2;
	
      
}

.abs1{
	position: absolute;
	top: 50%;
	left: 20%;
	right: 20%;
	max-width: 80%;
	z-index: 1;
	
      
}

/* book */

.book {

	margin-top: 10px;
    
    width: 70%;
    height: 95%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
	max-height: 90%;
	max-height: 90%;
}

.book .page img {
    max-width: 100%;
    max-height: 100%;
}
